@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat&family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cardHighlight {
  min-height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.photo {
  height: 250px;
  width: 250px;
  display: block;
  margin-top: 1em;
  margin-left: 12.5em;
  margin-bottom: 4rem;
  padding-bottom: 2em;
  width: 40%;
  height: inherit;
  justify-content: center;
}

.shopNow {
  margin-top: 60px;
  margin-left: 35em;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/* #bg {
  background-image: url("");
  width: 300px;
  height: 300px;
} */
#navbar {
  /* background-color: transparent; */
  background-image: url("./assets/camo.png");
  background-size: cover;
  margin-left: 0;
  margin-right: 40px;
  padding: 15px 10px;
  border: none;
  width: 100%;
  border-radius: 0;
  margin-bottom: 10px;
}

#navBrand {
  font-family: "Black Ops One";
  color: #f5f2ee;
  font-size: 3rem;
}

a.nav-link {
  color: wheat;
  font-family: "Black Ops One";
}

.App video {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#wholebg {
  position: relative;
  left: 15%;
  height: 100%;
  width: 100%;
}

#banner {
  height: 30rem;
  padding-top: 5rem;
}

.bannerText {
  font-family: "Black Ops One";
  font-size: 5.5rem;
  color: #c7c4c1;
  position: relative;
  bottom: 30%;
  right: 15%;
  text-align: center;
}

#btn {
  position: relative;
  align-content: center;
  width: 10rem;
  padding: 1rem;
  display: inline-block;
}
#registerForm {
  background: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-family: "Black Ops One";
  color: hsl(83, 96%, 55%);
  position: relative;
  right: 40%;
  border-radius: 10%;
}

.text-muted {
  color: aqua;
}

#titleRegister {
  font-family: "Black Ops One";
  color: yellowgreen;
}
#regImg {
  background-repeat: no-repeat;
  height: 1000px;
  position: relative;
  left: 40%;
}
body {
  overflow-x: hidden;
}

#login {
  width: 30rem;
  height: 20rem;
  box-shadow: 0 0 1rem 0 hsla(72, 96%, 51%, 0.906);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  font-family: "Black Ops One";
  color: rgb(205, 181, 102);
}

#login:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(42, 137, 50, 0.95);
  filter: blur(1px);
  margin: -20px;
}

#logintitle {
  font-family: "Black Ops One";
  color: rgb(177, 238, 111);
}

#profileCard {
  margin-left: 390px;
  width: 30rem;
  height: 20rem;
  box-shadow: 0 0 1rem 0 rgba(13, 55, 35, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  align-items: center;
}

#profileCard:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(89, 181, 143, 0.95);
  filter: blur(1px);
  margin: -20px;
}

.noAccess {
  font-family: "Black Ops One";
  color: red;
}

.CourseCard {
  align-items: center;
  margin-left: 300px;
}

.available {
  font-family: "Black Ops One";
  color: hsl(83, 96%, 55%);
}
